<!DOCTYPE html>
<html>
<head>
    <title>Authentication System</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}"
    >
</head>

<body>

    <nav>
       <div>
    <a href="{{ url_for('home') }}">Home</a>

    {% if current_user.is_authenticated %}

        <a href="{{ url_for('dashboard') }}">Dashboard</a>
        <a href="{{ url_for('logout') }}">Logout</a>
    {% else %}
        <a href="{{ url_for('register') }}">Register</a>
        <a href="{{ url_for('login') }}">Login</a>
    {% endif %}
</div>
    </nav>

    <main class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="flash-container">
            {% for category, message in messages %}
                <div class="flash-message {{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}
        {% block content %}
        {% endblock %}
    </main>

</body>
</html>